<html>
<body>
<P> After downloading the dataset on TMDB Movies, I started to look for some dependencies. Throughout my work I was mostly working with Mobie Budget, Raitings and Cast. However I also used movie popularity and had my own "Actors popularity metric, so I can look if there is some dependecies between top casts and movie budget, popularity and so on. You can find more details in the Jypiter notebook which you can find on y.disk or github. Links are awailable on this Flask web page.<P>
<body>
<html>